body, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	text-transform: none;
	color: #444;
	font-size: 28px;
	line-height: 1.6;
}

.reveal .slides {
	border-left: solid 20px #FFF;
	border-right: solid 20px #FFF;
}

.reveal .slides section {
	padding: 10px 0;
	font-size: 28px;
}

.reveal h1 {
	color: #A13646;
	font-size: 40px;
}

.reveal h2 {
	color: #A13646;
	font-size: 36px;
}

.reveal h3 {
	color: #A13646;
	font-size: 32px;
}

.reveal h4 {
	color: #A13646;
	font-size: 28px;
}

.reveal ul {
	display: block;
}

.reveal ul > li + li {
	margin-top: 15px;
}

.reveal p, .reveal ul > li, .reveal ol > li {
	font-size: 22px;
}

.reveal p.refLink {
	text-align: right;
	font-size: 16px;
}

.reveal a {
	color: #803E15;
}

.reveal a:hover {
	color: #803E15;
	text-decoration: underline;
}

.reveal small {
	display: inline-block;
	vertical-align: middle;
}

.reveal section img {
	margin: 5px 0;
	border: 0;
}

.reveal section img.imgNoShadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
	border-right-color: #9F4F89;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
	border-left-color: #9F4F89;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
	border-bottom-color: #9F4F89;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
	border-top-color: #9F4F89;
}


.mt10 {
	margin-top: 10px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt50 {
	margin-top: 50px !important;
}


.fa {
	color: #7F2A68;
	font-size: 1.5em;
}

strong {
	color: #A13646;
}

hr {
	border: 0;
	border-top: solid 1px #A13646;
}

pre > code, pre > code * {
	font-family: Consolas, Monaco, 'Courier New', Courier, monospace !important;
}

.pageBlock {
	position: relative;
	height: 100%;
}

.midBlock {
	display: block;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-55%);
}

.reveal h1.slideTitle, .reveal h4.slideTitle {
	color: #555;
}

.reveal h1.pageHeader {
	display: block;
	padding: 5px 10px;
	background: #A13646;
	color: #FFF;
	text-align: left;
	box-sizing: border-box;
}

.reveal h1.sectionTitle {
	font-size: 60px;
	color: #777;
}

.reveal pre code {
	max-height: 100%;
}

.reveal ul.lgList > li {
	font-size: 30px;
	line-height: 2.5;
}


span.p2_place {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.p2_place + .fa {
	display: inline-block;
	vertical-align: top;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.colLeft {
	width: 45%;
	float: left;
}

.colRight {
	width: 45%;
	float: right;
}

.demoDataTable {
	width: 500px;
	table-layout: fixed;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
}

.demoDataTable tr > th, .demoDataTable tr > td {
	border: solid 1px #AAA;
}

.demoDataTable tr:last-child > td {
	text-align: center;
}
