body, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
}

.reveal section img {
	border: 0;
}

.reveal div.p7_block {
	margin: 50px 0 0;
}
