body, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
	text-transform: none;
	color: #444;
	font-size: 20px;
	line-height: 1.6;
}

.reveal .slides {
	border-left: solid 20px #FFF;
	border-right: solid 20px #FFF;
}

.reveal .slides section {
	padding: 10px 0;
	font-size: 22px;
}

.reveal h1 {
	font-size: 36px;
}

.reveal h2 {
	font-size: 32px;
}

.reveal h3 {
	font-size: 28px;
}

.reveal h4 {
	font-size: 24px;
}

.reveal ul {
	display: block;
}

.reveal p, .reveal ul > li, .reveal ol > li {
	font-size: 22px;
}

.reveal p.refLink {
	text-align: right;
	font-size: 16px;
}

.reveal a {
	color: #CF686F;
}

.reveal a:hover {
	color: #CF686F;
	text-decoration: underline;
}

.reveal small {
	display: inline-block;
	vertical-align: middle;
}

.reveal section img {
	margin: 5px 0;
	border: 0;
}

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
	border-right-color: #6A9E99;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
	border-left-color: #6A9E99;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
	border-bottom-color: #6A9E99;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
	border-top-color: #6A9E99;
}


.mt10 {
	margin-top: 10px !important;
}

.mt20 {
	margin-top: 20px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.mt50 {
	margin-top: 50px !important;
}


.fa {
	color: #D4AF6A;
	font-size: 1.5em;
}

strong {
	color: #CF686F;
}


.reveal h1.pageHeader {
	display: block;
	padding: 5px 10px;
	background: #42847D;
	color: #FFF;
	text-align: left;
	box-sizing: border-box;
}


span.p2_place {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

.p2_place + .fa {
	display: inline-block;
	vertical-align: top;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.colLeft {
	width: 35%;
	float: left;
}

.colRight {
	width: 60%;
	float: right;
}
